In [9]:
#Conditional Statements
a = 1
b = 2
c = 3

#if statement
if a < b:
	print('a is greater than b')

a is greater than b

In [8]:
#if-else statement
if a > b:
	print('a is greater than b')
else: 
    print ('b is greater than a')

b is greater than a

In [10]:
#if-elif-else statement
if a > b:
    print('a is greater than b')
elif b > a:
    print('b is greater than a')
else: 
    print('a is equal to b')

b is greater than a

In [13]:
#using logical operators
if a and b == c:
    print('a = b = c')
elif a or b == c:
    print('a or b = c')
else:
    print('a != b != c')

a or b = c

In [15]:
#Collecttion Conditional Statement
list = ['item1', 'item2', 'item3']

if 'item1' in list:
    print('item 1 is in list')
else:
    print('item 1 is not in list')

item 1 is in list

In [19]:
#while loop in a collection
while len(list) == 3:
    print('there are 3 items inside the list')
    break

there are 3 items inside the list

In [20]:
#using break
while 'item1' in list:
    print('item1 is in list')
    break

item1 is in list

In [22]:
#while loop with increment
age = 12

while age <= 18:
    print('Current age: ' + str(age))
    age = age + 1

Current age: 12
Current age: 13
Current age: 14
Current age: 15
Current age: 16
Current age: 17
Current age: 18

In [25]:
#while with else
age = 12
while age <= 18:
    print('Current age: ' + str(age))
    age = age + 1
else: 
    print('More than 18, now: '+ str(age))

Current age: 12
Current age: 13
Current age: 14
Current age: 15
Current age: 16
Current age: 17
Current age: 18
More than 18, now: 19

In [27]:
#while loop in a collection 2
studentID = [200123,200124,200125,200126]

i = 0

while i <= 3:
    print (studentID[i])
    i = i+1

200123
200124
200125
200126

In [29]:
#if in while loop
answer = input('do you have a name?')

while True:
    if answer == 'yes':
        print ('hello human')
        break
    else:
        print('hello')

do you have a name?yes
hello human

In [35]:
#for loop
names = ['allan', 'allen', 'allin', 'allon', 'allun']

for i in names:
    print (i)
else: 
    print('end of names')

allan
allen
allin
allon
allun
end of names

In [33]:
#with break
for i in names:
    print (i)
    break
else: 
    print('end of names')

allan

In [36]:
#with nested if statement
for i in names:
    print(i)
    if i == 'allin':
        break

allan
allen
allin

In [41]:
#range in for loop
for i in range (8):
    print (i)

0
1
2
3
4
5
6
7

In [42]:
for i in range (1,5):
    print (i)

1
2
3
4

In [7]:
#nested for loop
for i in range (5):
    for j in range (5):
        print("*", end = " ")
    print ()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [53]:
#reading multidimensional arrays using for loop
list = [['Cpe', 'allan'], ['Me', 'allen'], ['Ce', 'allin'], ['Ee', 'allon']]

for i in list:
    for j in i:
        print(j)

Cpe
allan
Me
allen
Ce
allin
Ee
allon

In [2]:
#Exercise 1: Print First 10 natural numbers using while loop
i=1
while i<=10:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10

In [11]:
#Exercise 2: Print the following pattern
row = 5
for i in range (1,row+1):
    for j in range (1,i+1):
        print (j, end = " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [17]:
#Exercise 3: Calculate the sum of all numbers from 1 to a given number
num = int(input("Enter Number: "))

sum = 0
for i in range (1, num+1):
	sum = sum + i

print ("Sum: " + str(sum))

Enter Number: 20
Sum: 210

In [21]:
#Exercise 4: Write a program to print multiplication table of a given number
num = int(input("Enter Number: "))

for i in range (num, (num * 10) + num, num):
    print(i)

Enter Number: 2
2
4
6
8
10
12
14
16
18
20

In [29]:
#Exercise 5: Display numbers from a list using loop
numbers = [12, 75, 150, 180, 145, 525, 50]

#numbers that are divisble by 5, if greater than 150, skip and move to next number, if greater than 500, stop the loop

for i in numbers:
    if i > 500:
        break
    elif i%5 == 0:
        if i <= 150:
            print(i)

75
150
145

In [39]:
#Exercise 6: Count the total number of digits in a number
num = 75869
count=0

while num != 0: 
    num = num // 10
    count = count+1
    
print(count)

5

In [23]:
#Exercise 7: Print the following pattern
row = 5

for i in range (1, row+1): 
    for j in range (row,i-1,-1):
        print(j, end = " ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [3]:
#Exercise 8: Print the following pattern
row = 5
for i in range(1, row+1):
    for j in range(i, row+1):
        print(" ", end = " ")
    for j in range(1,i+1):
        print("*", end =" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [9]:
#Exercise 9: Print the following pattern
row = 5
for i in range(1, row+1):
    for j in range(i, row+1):
        print(" ", end = " ")
    for j in range(1,i+1):
        print("*", end =" ")
    for j in range(2, i+1):
        print("*", end =" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *